<h1>is there anything on at the liberty?</h1>

<% if @event.on_today%>
   Yeah -  <%= @event.name %> is on today
<% else %>
	Not today, but <%= @event.name %> is on <%= @event.date.to_date %>
<% end %> 

