<p>The <a href="http://www.liberty-stadium.com/">Liberty Stadium</a> (<a href="http://en.wikipedia.org/wiki/Liberty_Stadium">wiki</a>) is a 20 thousand seat stadium home to Swansea City and the Ospreys situated on the <a href="http://maps.google.com/maps?ll=51.6422,-3.9351&q=loc:51.6422,-3.9351&hl=en&t=m&z=15">outskirts of Swansea</a></p>

<p>During large events, for crowd saftey, the road outside the stadium is closed and the traffic builds in the surrounding area. This site lets you quickly check if there are any events coming up, so you can know to give a little extra time when travelling to/from Swansea City</p>

<p>This site takes the information from the <a href="http://www.liberty-stadium.com/events.php">Liberty Stadium Events Calendar</a>, <a href="http://www.swanseacity.net/fixtures-results/fixtures-list/">Swansea City fixtures</a> and <a href="http://www.ospreysrugby.com/FixturesResults/Season">Ospreys fixtures</a> and gives you a quick Yes/No to the question: Is There Anything On At The Liberty?</p>

<p>Dummy change</p>
