body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #4C4C4C;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #4C4C4C;
	color: #4C4C4C;
}

#header {
	text-align: center;
    width: 100%;
   	font-size: 2em;
   	margin-top: 25px;
}

#huge {
	font-size: 7em;
	text-align: center;
}

#upcoming_event {
	text-align: center;
	font-size: 1.5em;
}

#footer {
	font-size: 0.8em;
	text-align: center;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top:5;
}

#footer hr {
  width: 75%;
  border-top: 1px dotted #4C4C4C;;
}