body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #4C4C4C;
}

.huge {
	font-size: 8em;
	text-align: center;
}

.footer {
	font-size: 0.8em;
	text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}