<!DOCTYPE html>
<html>
<head>
  <title>is there anything on at the liberty?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, user-scalable=yes">
</head>
<body>

<div id="header">
	<a href="/">is there anything on at the liberty?</a>
</div>

<%= yield %>

<div id="footer">
	<hr>
	<a href="#">about</a> | 
	<a href="https://github.com/blpowell/itaoatl">code</a> | 
	<a href="/why">why</a> | 
	<a href="https://github.com/blpowell/itaoatl#api">api</a>
	<div id="disclaimer">Not associated with Liberty Stadium or Swansea Council in any way</div>
</div>


</body>
</html>
